html, body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    margin-top: 8px;;
}

header{
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 50;
}

#logo img{
    width: 50px;
    position: absolute;
    margin-top: 4px;
    margin-left: 13px;
}

#menu{
    float: right;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    list-style: none;
}

li{
    float: left;
    padding: 20px 20px 22px 20px;
}

li:hover{
    background-color: #d9c7c562;
}

li a{
    text-decoration: none;
    color: white;
}

#imagem_fundo{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 10px;
    text-align: center;
}

#titulo{
    color: black;
    text-shadow: 2px 2px 8px #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 12%;
    margin: 0;
    font-size: 550%; 
}

#subtitulo{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.5;
    font-size: 150%;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px white solid;    
}

#acao{
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #000000be;
}

.icone{
    width: 55px;
    padding: 20px;
    border-radius: 50px;
}

.destaque{
    background-color: #d9c7c562;
}
/*Alteração do padding*/
section{
    padding: 20px;
    float: left;
    text-align: center;
}

.imgeco{
    width: 80%;
}
#acao:hover{
    background-color: black;
    font-weight: 545;
}

.imgdestaque{
    background-image: url(img/section.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.icone:hover{
    background-color: #000000;
    
}

img:hover{
    transform: scale(1.022);
}

img{
    transition: 500ms
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;    
}

.dois{
    width: 40%;
}

.tres{
    width: 29%;
    padding: 0 2%;
}

.quatro{
    width: 15%;
}

#sobre img{
    width: 100%;
}

.alturalinha{
    line-height: 1.5;
}

footer{
    background-color: black;
    color: white;
    float: left;
    width: 100%;
    text-align: center;
}

@media all and (max-width: 768px){
    #menu{
        visibility: hidden;
    }

    .coluna, .dois, .tres, .quatro{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }

    #logo {
        text-align: center;
    }

    #logo img{
        margin-left: 0;
        position: relative;
    }

    #titulo{
        font-size: 450%;
        padding-top: 20%;
    }

    #subtitulo{
        font-size: 140%;
        margin-left: 5%;
        margin-right: 5%;
    }
}